# macOS системные файлы
.DS_Store
.AppleDouble
.LSOverride

# Папки и файлы macOS
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc
.env
.venv/
venv/
env/
pip-selfcheck.json
*.egg-info/
.eggs/
dist/
build/

# Docker
docker-compose*.yml
!docker-compose.yml  # сохраняем основной файл
docker-compose.override.yml
.env
.env.*
docker-data/
!volumes/  # если используете именованные тома, не игнорируйте папку volumes

# PyCharm/IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Бинарные файлы
*.log
*.sqlite3
*.db
*.dump

# Логи и временные файлы
*.log
*.tmp
*.swp
*~
~$*

# Конфиденциальные данные
secrets.ini
*.key
*.pem
*.cert
*.secret
credentials.*
.env.local
.env.*.local


